@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(96.9% 0.015 12.422);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.headerContainer {
  position: relative;
  overflow: hidden;
}

.headerContainer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    transparent 0%,
    rgb(255, 255, 255) 48%,
    rgba(255, 255, 255, 0.7) 52%,
    transparent 100%
  );
  animation: headerBlick 6s infinite;
  filter: blur(10px);
  opacity: 1;
  height: 50%;
  top: -50%;
  pointer-events: none;
  z-index: 1;
  transform-origin: center;
}

@keyframes headerBlick {
  0% {
    transform: translateX(-100%) rotate(8deg);
  }
  20%,
  100% {
    transform: translateX(100%) rotate(8deg);
  }
}
.logoImageContainer {
  position: relative;
  padding: 4px;
  border-radius: 50%;
  overflow: hidden;
  &:active {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.5);
    scale: 96%;
  }
}
.logoGlow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}
.logoGlow::before {
  content: '';
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(
    105deg,
    transparent 0%,
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.8) 75%,
    transparent 100%
  );
  animation: logoBlick 6s infinite;
  filter: blur(15px);
  transform-origin: center;
}
@keyframes logoBlick {
  0% {
    transform: translateX(-100%) rotate(15deg);
  }
  20%,
  100% {
    transform: translateX(130%) rotate(15deg);
  }
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0);
  }
}

.animate-pulseGlow {
  &:active {
    scale: 98%;
  }
  animation: pulseGlow 6s ease-in-out infinite;
}
@layer components {
  .header_link {
    outline: hidden;
    outline-offset: 4px;
    font-style: oblique;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: oklch(43.9% 0 0);
    &:focus-within,
    &:hover {
      outline: 4px solid oklch(44.4% 0.011 73.639 / 0.5);
      background-color: oklch(40.8% 0.153 2.432 / 0.2);
      color: oklch(26.9% 0 0);
    }
    &:active {
      background-color: oklch(40.8% 0.153 2.432 / 0.3);
      outline: 4px solid oklch(44.4% 0.011 73.639 / 0.8);
      scale: 0.95;
      box-shadow: 0 0 100px 70px rgba(255, 255, 255, 0.5);
      color: oklch(96.9% 0.015 12.422);
    }
  }
}
